form{
    width: 97%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    mat-label{
        color: black;
    }

    input{
        background: rgba(118, 118, 118, 0.158);
        box-shadow: none;
        height: 38px;
        width: 100%;
        border: none;
        border-radius: 5px;
        padding-left: 5px;
        margin-bottom: 20px;
        
    }

    
}

.selection{
  background: rgba(128, 128, 128, 0.158);
  color: black;
  box-shadow: none;
  height: 38px;
  width: 10%;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.role-selection{
    background: rgba(128, 128, 128, 0.158);
    color: black;
    box-shadow: none;
    height: 38px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
  }

.user-profile{

    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: -240px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
    cursor: pointer;


}

.user-profile2{

    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: -240px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
    cursor: pointer;


}

.error-message{
    color: red;
}

.green-message{
    color: green;
}

.form-profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submitBtn{
    width: 50%;
    height: 45px;
    background-color: rgb(255, 62, 229);
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.background{

    
    .titleTxt{
        margin-left: 15px;
        font-size: 20px;
    }

    .toggle{
        margin-top: 20px;
        margin-left: 10px;
        cursor: pointer
    }

    background-color: rgb(255, 62, 229);
    height: 40%;
    top: 0;
    width: 100%;

}

.create{
    position: relative;
    color: rgb(0, 0, 0);
    left: 55%;
    top: -4%;
    font-size: 30px;


}

.name-profile{
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: -30px;

}


.user-profile>input {
    display: none;
  }

  .user-profile2>input {
    display: none;
  }

  #file-input{
    visibility: hidden;
}

.cancel{
    position:relative;
    top: -230px;
    left: 56%;
    z-index: 999;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.cancel:hover{
    color:black;
}
