<mat-label style="color: black; font-weight: bold;"> Today </mat-label>
<button style="color: rgb(157, 157, 157);" (click)="showNotification()" class="submitBtn button-1" mat-button>View All Notification</button>

<img *ngIf="listData.length==0" src="assets/not found.gif" alt="No data available" width="300px"/>
<p *ngIf="listData.length==0" class="no-message">No new notification available</p>
<mat-accordion *ngIf="listData.length!==0">
  
    <mat-expansion-panel *ngFor="let data of listData; let i = index" >
      <mat-expansion-panel-header style="height: 100px;">
        <mat-icon class="close" (click)="close(data.id)">close</mat-icon>
        
        <mat-panel-title>
          {{data.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{data.date}}
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-panel-description style="color:white;">

        {{data.description}}

      </mat-panel-description>
      <br>
      <mat-panel-description style="color:white;">

        {{data.date}}

      </mat-panel-description>
    </mat-expansion-panel>

  </mat-accordion>