<mat-sidenav-container>
    <mat-sidenav>
    </mat-sidenav>
    <mat-sidenav-content style="background-color:white">

      <mat-toolbar class="mat-toolbar"> <!--Toolbar C-->

        <mat-button *ngIf="close==false" class="toggle" (click)="closeNav()"><mat-icon class="toggle">close</mat-icon></mat-button>
        <mat-button *ngIf="close==true" class="back" (click)="back()"><mat-icon class="toggle">arrow_back</mat-icon></mat-button>
        <span class="titleTxt">Notification</span>

        <div class="name-inline" (click)="retrieveID(accName)">
          <p class="username">{{accName}}</p>
          <p class="role">{{role}}</p>

      </div>

      <img *ngIf="photoArray.length==0" class="profile-photo" (click)="retrieveID(username)" src="assets/profile.jpg" alt="profilePIC">
      <img *ngIf="photoArray.length!==0" class="profile-photo" [src]="profilePhoto" (click)="retrieveID(username)" alt="profilePhoto-real"/>
      

        <mat-icon matBadge="{{notifyNo}}" matBadgeColor="warn" class="notification" (click)="openNotification()">notifications</mat-icon>
        <!-- <p class="no-number" style="color:white;" >{{notifyNo}}</p> -->

      </mat-toolbar>

      <mat-card class="search-card">
        <div class="search-bar">
          <input [(ngModel)]="searchKey" (keyup)="applyFilter()" type="Text" placeholder="Search by Date, Category or Title"/>
          <mat-icon class="search-logo">search</mat-icon>
        </div>
        <mat-label style="color: black;">Enter Date: </mat-label>
        <input type="date" [ngModel]="dateFilter" (change)="onChange($event.target.value)" placeholder="enter date"/>
        <mat-icon (click)="clear()" style=" cursor:pointer; margin-top: 10px;color: black; position:relative; top:5px;">closed</mat-icon>
      </mat-card>

          <!-- table -->
          <div class ="mat-elevation-z8" style="margin-top: 20px;">
              
            <table mat-table matSort
                  [dataSource]="listData" multiTemplateDataRows
                  class="mat-elevation-z8">
              <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
              </ng-container>

              <!-- Expanded Content Column -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                  <div class="example-element-detail"
                      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <!-- <div class="example-element-diagram"> -->
                      <!-- <div class="example-element-position"> {{element.title}} </div> -->
                      <!-- <div class="example-element-rid"> {{element.rid}} </div> -->

                      <!-- <div class="example-element-name"> {{element.title}} </div> -->
                      <!-- <div class="example-element-weight"> {{element.title}} </div> -->
                    <!-- </div> -->
                    <div class="iconDiv" style="margin-right: 40px;">
                      <!-- <mat-icon class="icon" *ngIf="element.role=='Staff'">account_circle</mat-icon> -->
                      <img class="profile-pic" *ngIf="element.link" src="{{element.link}}" alt="profilePic" />
                      <img class="profile-pic" *ngIf="!element.link" src="assets/profile-1.png" alt="profilePic" />
                      <!-- <mat-icon class="iconAdmin" *ngIf="element.role=='Administrator'">supervised_user_circle</mat-icon> -->
                      <p style="margin-top: -10px;">{{element.rid}}</p>
                    </div>
                   
                    <div class="example-element-description" style="float: left; padding-right: 60px;">
                     <p class="details">User account:</p> 
                     <p> {{element.username}}</p>
                     <p class="details">Account role:</p>
                     <p>{{element.role}}</p>
                    </div>
                    
                    <div class="example-element-description" style="float: right; padding-right: 40px;">
                      <!-- <p class="title">{{element.title}}</p> -->
                      <p class="details">Category:</p>
                      <p>{{element.category}}</p>
                      <p class="details">Description:</p>
                      <p>{{element.description}}</p> 
                     </div>

                     <div class="example-element-description" style="float: right;">
                      <p class="details">Date:</p>
                      <p>{{element.date}}</p>
                      <p class="details">Time:</p>
                      <p>{{element.time}}</p>
                      <!-- <p class="dateTime"><span class="details">Date: </span>{{element.date}}</p>   -->
                      <!-- <p><span class="details">Time: </span>{{element.time}}</p>  -->
                     </div>
                    
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElement === element"
                  (click)="expandedElement = expandedElement === element ? null : element">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

              
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="25" showFirstLastButtons></mat-paginator>
          
          </div>


          <div *ngIf="isLoading" 
          style="display: flex; justify-content: center; align-items: center; background: rgba(255, 255, 255, 0)">
           <mat-progress-spinner 
            mode="indeterminate">
           </mat-progress-spinner>
        </div>



      </mat-sidenav-content>
    </mat-sidenav-container>