.titleTxt{
    margin-left: 30px;
}

.back{
    position: absolute;
    left: 10px;
    color: purple;
    top: 20px;
}

mat-slide-panel-container{
    background-color: white;

}

mat-expansion-panel{
    background: rgb(124, 57, 179);
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}