mat-card{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
    height: 600px;
    background-color: white;
    padding: 0px;

    .image{
        width: 540px;
        height: 600px;
        
    }
}

.container{
    background-color: #e7cbff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

input{
    background: rgba(128, 128, 128, 0.158);
    box-shadow: none;
    height: 38px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
}

.submitBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 45px;
    border-radius: 30px;
    background-color: #8d4dc2;
    box-shadow: 5px 10px 18px #aa9dff;
}


.login{
    color: #8d4dc2;
    position: absolute;
    top: 20%;
    right: 18%;
}

.header{
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bolder;
    opacity: 0.8;
}

@media screen and (max-width: 1280px){
    mat-card{
        width: 90%;
    }
}

@media screen and (max-width: 895px){
    mat-card{
        width: 100%;
    }
}

@media screen and (max-width: 772px){
    mat-card{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .login{
        color: #8d4dc2;
        position: absolute;
        top: 20%;
        right: 5px;
        transform: scale(0.9);
    }
    
}

@media screen and (max-width: 544px){
    mat-card{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .image{
        visibility: hidden;
    }

    .container{
        background-color: #ffffff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
    }
}

