<div class="container">
<mat-card>
    <img class="image" src="assets/VMIS-background.jpg">
    <div class="login">
        <h3 class="header">VMIS LOGIN <span><mat-icon>lock</mat-icon></span></h3>
        <mat-label>Username</mat-label>
        <br>
        <input placeholder="Enter Username" type="text"/>
        
        <mat-label>Password</mat-label>
        <br>
        <input placeholder="Enter Password" type="password"/>
        <button mat-raised-button class="submitBtn" (click)="submit()">Login</button>
    </div>
</mat-card>
</div>

