mat-sidenav {
    background-color: rgb(124, 57, 179);
    width: 110px;
}
mat-sidenav-content{
  background-color: rgb(245, 245, 245) !important;
}


.search-card{
    background-color: white;
    margin-top: 20px;
    width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    // align-self: center;
    
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: purple !important;
  }
  
  .toggle{
    color:rgb(90, 38, 133) !important;
    cursor: pointer;
}

.titleTxt{
    margin-left: 20px;
    margin-bottom: 5px;
    color: rgb(90, 38, 133) !important;
  }