<mat-sidenav-container>
    <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened">
        <div class="nav-icon" tappable (click)="goToDashboard()">
        <mat-icon>dashboard</mat-icon>
        <mat-label>Dashboard</mat-label>
        </div>
  
        <div class="nav-icon" routerLink="/add-vendor">
            <mat-icon>add_box</mat-icon>
            <mat-label>AddVendor</mat-label>
        </div>
  
        <div class="nav-icon" routerLink="/add-payment">
            <mat-icon>attach_money</mat-icon>
            <mat-label>Payment</mat-label>
        </div>
  
        <div *ngIf="isAdmin" class="nav-icon" routerLink="/usermanagement">
          
          <mat-icon  style="font-size: 30px">ballot</mat-icon>
          <mat-label style="text-align: center;">Admin IE</mat-label>
      </div>
  
      <div class="nav-icon" routerLink="/deleted-records">
        <mat-icon class="active">file_copy</mat-icon>
        <mat-label class="active"  style="text-align: center;">Deleted Records</mat-label>
    </div>
  
  
    </mat-sidenav>
    <mat-sidenav-content style="background-color:white">
        
  
        <mat-toolbar class="mat-toolbar"> <!--Toolbar C-->

            <mat-button *ngIf="close==false" class="toggle" (click)="sidenav.close()" (click)="closeNav()"><mat-icon class="toggle">close</mat-icon></mat-button>
            <mat-button *ngIf="close==true" class="toggle" (click)="sidenav.open()" (click)="openNav()"><mat-icon class="toggle">menu</mat-icon></mat-button>
            <span class="titleTxt">Deleted Records</span>
            
            <div class="name-inline" (click)="retrieveID(username)">
                <p class="username">{{username}}</p>
                <p class="role">{{role}}</p>
      
            </div>

            <img *ngIf="photoArray.length==0" class="profile-photo" (click)="retrieveID(username)" src="assets/profile.jpg" alt="profilePIC">
            <img *ngIf="photoArray.length!==0" class="profile-photo" [src]="profilePhoto" (click)="retrieveID(username)" alt="profilePhoto-real"/>
            
            <mat-icon matBadge="{{notifyNo}}" matBadgeColor="warn" class="notification" (click)="openNotification()">notifications</mat-icon>
            <!-- <p class="no-number" style="color:white;" >{{notifyNo}}</p> -->

        </mat-toolbar>

        <mat-card class="search-card">
            <input [(ngModel)]="searchKey" type="text" placeholder="Search for IC, name, phone number, etc....." class="location-input"/>
            <button (click)="applyFilter()" class="location-button" mat-raised-button>Search <mat-icon>search</mat-icon></button>
            <span (click)="retrieveProfile()" class="resetInfo-1">Reset</span>
            
        </mat-card>



        <div class ="mat-elevation-z8" style="margin-top: 10px;">
      
            <mat-table [dataSource]="listData" matSort>
                
              <ng-container  matColumnDef="link">
                <mat-header-cell *matHeaderCellDef mat-sort-header ></mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >

                    <img class="profile-pic" *ngIf="element.link" src="{{element.link}}" alt="profilePic" />
                    <img class="profile-pic" *ngIf="!element.link" src="assets/profile-1.png" alt="profilePic" />

                </mat-cell>
            </ng-container>
      
              <ng-container  matColumnDef="payment_Date">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Latest Payment Date</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.latest_Payment_Date}}</mat-cell>
            </ng-container>
                <ng-container  matColumnDef="IC_Number">
                    <mat-header-cell *matHeaderCellDef mat-sort-header >IC No.</mat-header-cell>
                    <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.IC_Number}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                    <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.name}}</mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header >Email</mat-header-cell>
                    <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.email}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header >Phone No.</mat-header-cell>
                    <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.phone}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="DeletedAt">
                  <mat-header-cell *matHeaderCellDef mat-sort-header >Date Deleted</mat-header-cell>
                  <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.createdAt}}</mat-cell>
              </ng-container>
        
        
        
         
      
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                    
                      <button *ngIf="isAdmin" mat-raised-button class="editBtn" (click)="onRestore(row)">Restore</button>
                      <button *ngIf="isAdmin" mat-icon-button style="color:rgb(112, 112, 112); margin-left: 10px;" (click)="onDelete(row)"><mat-icon>delete</mat-icon></button>
                    </mat-cell>
        
                    
                  </ng-container>
        
                  <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                      --End of List--
                    </mat-footer-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
                  <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(retrieveDataLength==0)}"></mat-footer-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
              </div>
              <p id="hide">{{before}} &copy; {{after}}</p>

      </mat-sidenav-content>
      </mat-sidenav-container>
      