.titleTxt{
    margin-left: 20px;
    margin-bottom: 10px;
}

mat-sidenav{
    padding:16px;
}

mat-sidenav {
    background-color: rgb(124, 57, 179);
    width: 110px;
}

mat-sidenav-content{
    background-color: rgb(245, 245, 245) !important;
}

.toggle{
    color:rgb(90, 38, 133);
    cursor:pointer;
}