<div class="top">

</div>
<img class="sideProfilePhoto" src="assets/profile.jpg" alt="No data available" width="300px"/>
<p class="username">{{username}}</p>
<p class="role">{{role}}</p>

<div >
  <button class="listBtn activeBtn" (click)=goToDashboard() mat-flat-button> <mat-icon class="iconBtn">dashboard</mat-icon>Dashboard</button>
  <button class="listBtn" (click)=onEdit() mat-flat-button> <mat-icon class="iconBtn">person</mat-icon> Manage Profile</button>
  <button class="listBtn" mat-flat-button > <mat-icon class="iconBtn">question_answer</mat-icon> Report</button>


    
</div>

<button class="logoutBtn" mat-flat-button>Log Out</button>



<!-- <mat-selection-list [multiple]="false">
    <mat-list-option class="listBtn">
      shoe
    </mat-list-option>
    <mat-list-option class="listBtn">
        shoe
    </mat-list-option>
  </mat-selection-list> -->

  <!-- <mat-nav-list>
    <a mat-list-item style="height: 0; color: black; background-color: red;">makann</a>
    <mat-list-item> makann</mat-list-item>
  </mat-nav-list> -->


