.sideProfilePhoto{
    border-radius: 50%;
    width: 129px;
    height: 125px;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    left: 31%;
    cursor: pointer;
    border: 4px solid white;
}

.username{
    font-size: 16px;
    color:white;
    font-weight: bold;
    text-align: center;
    margin-top: -70px;
    margin-bottom: 0px;
    font-family: Tahoma, sans-serif;
}

.role{
    font-size: 13px;
    color: white;
    
    // font-weight: bold;
    text-align: center;
    font-family: Tahoma, sans-serif;
    // margin-bottom: 10%;
}



.top{
    background-color: rgb(174, 87, 255);
    height: 34%;
    top: 0;
    width: 100%;
    // border-bottom-left-radius: 30px;
    // border-bottom-right-radius: 30px ;
}


.listBtn{
    width: 100%;
    height: 45px;    
    text-align: left;
    margin-bottom: 0px;
    border-radius: 0px;
    border-bottom: 1px solid rgb(230, 230, 230);
    font-size: 14px;
    // border: 2px solid white;
    // font-family: Tahoma, sans-serif;
    ;
    background-color: white;
    // border-color: rgb(255, 255, 255);
    color:  rgb(179, 179, 179);
}

.listBtn:hover {
    background-color: rgb(250, 250, 250);
    color: black;
}

.logoutBtn{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    border-radius: 0px;
    background-color: palevioletred;
}
.logoutBtn:hover{
    background-color: rgb(236, 86, 136);
}

.iconBtn{
    margin-right: 10px;
}