
<mat-sidenav-container>
  <!--The start of navigation bar-->

    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <div class="nav-icon" tappable (click)="goToDashboard()">
        <mat-icon class="active">dashboard</mat-icon>
        <mat-label class="active">Dashboard</mat-label>
        </div>

        <div *ngIf="!viewOnly" class="nav-icon" routerLink="/add-vendor">
            <mat-icon>add_box</mat-icon>
            <mat-label>AddVendor</mat-label>
        </div>

        <div *ngIf="!viewOnly" class="nav-icon" routerLink="/add-payment">
            <mat-icon>attach_money</mat-icon>
            <mat-label>Payment</mat-label>
        </div>

        <div *ngIf="isAdmin" class="nav-icon" routerLink="/usermanagement">
          
          <mat-icon style="font-size: 30px">ballot</mat-icon>
          <mat-label  style="text-align: center;">Admin IE</mat-label>
      </div>

      <div *ngIf="!viewOnly" class="nav-icon" routerLink="/deleted-records">
        <mat-icon >file_copy</mat-icon>
        <mat-label style="text-align: center;">Deleted Records</mat-label>
    </div>


    </mat-sidenav>
    <!--End of Navigation Bar-->



    <!--Start of webpage content-->
    <mat-sidenav-content style="background-color:white">

      <!--Webpage Toolbar started----------------------------------------------------------------->
        

      <mat-toolbar class="mat-toolbar"> 

        <mat-button *ngIf="close==false" class="toggle" (click)="sidenav.close()" (click)="closeNav()"><mat-icon class="toggle">close</mat-icon></mat-button>
        <mat-button *ngIf="close==true" class="toggle" (click)="sidenav.open()" (click)="openNav()"><mat-icon class="toggle">menu</mat-icon></mat-button>
       

        <div class="search-bar-dashboard">
          <input class="searchbar-1" [(ngModel)]="searchKey" type="Text" placeholder="Search for IC Number, Name, etc.. "/>
          <button (click)="applyFilter()" class="apply-button" style="background-color: blueviolet; color: white;height:40px;" mat-raised-button>Search<span><mat-icon class="submitBtn-1">search</mat-icon></span></button>
          <span *ngIf="showVendor==true" (click)="refreshData()" class="resetInfo-1">Reset</span>
          <span *ngIf="showSlotField==true" (click)="refreshLocation()" class="resetInfo-1">Reset</span>
          <span *ngIf="showPayment==true" (click)="refreshPayment()" class="resetInfo-1">Reset</span>
          <span *ngIf="showRelative==true"(click)="getRelative()" class="resetInfo-1">Reset</span>
         
        </div>
        
        <div class="name-inline" (click)="retrieveID(username)" >
          <p class="username">{{username}}</p>
          <p class="role">{{role}}</p>

        </div>
        
        <img *ngIf="photoArray.length==0" class="profile-photo" (click)="retrieveID(username)" src="assets/profile.jpg" alt="profilePIC">
        <img *ngIf="photoArray.length!==0" class="profile-photo" [src]="profilePhoto" (click)="retrieveID(username)" alt="profilePhoto-real"/>

        <mat-icon matBadge="{{notifyNo}}" matBadgeColor="warn" class="notification" (click)="openNotification()">notifications</mat-icon>
        <!-- <p class="no-number" style="color:white;" >{{notifyNo}}</p> -->

      </mat-toolbar>


      <!--Start content after toolbar------------------------------------------->

      <p class="titleTxt">Dashboard</p>
      <p class="descTxt">Information management & Intelligence</p>
      <button class="print-report" mat-button (click)="print()"><mat-icon >print</mat-icon></button>
      <button class="all-report" mat-raised-button (click)="goToReport()">Generate Full Report</button>
 
    <!-- Filter // ---------------------->

    
      <mat-card class="search-card">
        <div id="filter">
      

  
      <div id="paymentPrint">

        <mat-icon style="color:black; position: relative; top: 5px; margin-left: 20px;">search</mat-icon>
        <mat-label style="color:black; margin-left: 5px;">Search For: </mat-label>
        <span style="color: rgb(71, 71, 71); padding: 0px 90px 5px 30px; border-bottom: 1px solid gray">{{searchForField}}</span>

        <mat-icon *ngIf="showSlotField==true" style="color:black; position: relative; top: 5px; margin-left: 20px;">info</mat-icon>
        <mat-label *ngIf="showSlotField==true" style="color:black;">Slot Availability: </mat-label>
        <span *ngIf="showSlotField==true" style="color: rgb(71, 71, 71);padding: 0px 90px 5px 30px; border-bottom: 1px solid gray">{{selectSlotField}}</span>
        <br *ngIf="showSlotField==true">


        <mat-icon *ngIf="showSlotField==true" style="color:black; position: relative; top: 5px; margin-left: 20px;">location_on</mat-icon>
        <mat-label *ngIf="showSlotField==true" style="color:black;">Location: </mat-label>
        <span *ngIf="showSlotField==true" style="color: rgb(71, 71, 71);margin-left:20px;padding: 0px 90px 5px 30px; border-bottom: 1px solid gray">{{locationField}}</span>

        <mat-icon *ngIf="showVendor == true" style="color:black; position: relative; top: 5px; margin-left: 17px;">filter_list</mat-icon>
        <mat-label  *ngIf="showVendor == true"  style="color:black;">Status Filter: </mat-label>
        <span  *ngIf="showVendor == true" style="color: rgb(71, 71, 71);margin-left: 20px;padding: 0px 90px 5px 30px; border-bottom: 1px solid gray">{{selectField}}</span>

        <mat-icon *ngIf="showSlotField==true " style="color:black; position: relative; top: 5px; margin-left: 17px;">filter_list</mat-icon>
        <mat-label  *ngIf="showSlotField==true "  style="color:black;">Status Filter: </mat-label>
        <span  *ngIf="showSlotField==true " style="color: rgb(71, 71, 71);margin-left: 20px;padding: 0px 90px 5px 30px; border-bottom: 1px solid gray">{{selectField}}</span>

        <mat-icon *ngIf="showRelative==true" style="color:black; position: relative; top: 5px; margin-left: 17px;">people</mat-icon>
        <mat-label *ngIf="showRelative==true" style="color:black;">Relationship Filter: </mat-label>
        <span *ngIf="showRelative==true" style="color: rgb(71, 71, 71);margin-left: 5px;padding: 0px 90px 5px 30px; border-bottom: 1px solid gray">{{spouseField}}</span>

        <mat-icon *ngIf="showPayment==true" style="color:black; position: relative; top: 5px; margin-left: 17px;">notifications</mat-icon>
        <mat-label *ngIf="showPayment==true" style="color:black;">Notification Filter: </mat-label>
        <span *ngIf="showPayment==true" style="color: rgb(71, 71, 71);margin-left: 5px;padding: 0px 90px 5px 30px; border-bottom: 1px solid gray">{{notificationField}}</span>

      <br>

        <mat-icon *ngIf="showPayment==true" style="color:black; position: relative; top: 5px; margin-left: 17px;margin-top:10px;">date_range</mat-icon>
        <mat-label class="start1" style="color:black; margin-left: 7px; margin-top:10px;" *ngIf="showPayment==true">Start Date: </mat-label>
        <span *ngIf="showPayment==true" style="color: rgb(71, 71, 71);margin-left: 5px; width:30%;height: 30px; margin-top:10px;">{{dateFilter}}</span>


        <mat-label *ngIf="showPayment==true" style="color:black; margin-left: 15px; margin-top:10px;">End Date: </mat-label>
        <span *ngIf="showPayment==true" style="color: rgb(71, 71, 71);margin-left: 5px; width:30%;height: 30px; margin-top:10px;">{{endFilter}}</span>
        <span *ngIf="showPayment==true"><mat-icon style="color: rgb(255, 0, 0); position:relative; top:8px;left: 10px;cursor:pointer;" (click)="refreshPayment()">close</mat-icon></span>


      </div>


      </div>

      <mat-icon style="color:black; position: relative; top: 5px; margin-left: 20px;">search</mat-icon>
      <mat-label style="color:black; margin-left: 5px;">Search For: </mat-label>
      <select style="color: rgb(71, 71, 71)" [(ngModel)]="searchForField" placeholder="All" (change)="viewTable()" label="" class="selection" name="IC" placeholder="No.">
        <option value="Vendor">Vendor</option>
        <option value="Payment">Payment History</option>
        <option value="Location">Location</option>
        <option value="Relative">Spouse & Child</option>
        
    </select>

    <mat-icon *ngIf="showSlotField==true" style="color:black; position: relative; top: 5px; margin-left: 20px;">info</mat-icon>
    <mat-label *ngIf="showSlotField==true" style="color:black;">Slot Availability: </mat-label>
    <select *ngIf="showSlotField==true" style="color: rgb(71, 71, 71)" [(ngModel)]="selectSlotField" placeholder="All" (change)="slotAvailability()" label="" class="selection" name="IC" placeholder="No.">
      <option value="All">All</option>
      <option value="Taken">Taken</option>
      <option value="Available">Available</option>
  </select>
  <br *ngIf="showSlotField==true">
  <mat-icon *ngIf="showSlotField==true" style="color:black; position: relative; top: 5px; margin-left: 20px;">location_on</mat-icon>
    <mat-label *ngIf="showSlotField==true" style="color:black;">Location: </mat-label>
    <select *ngIf="showSlotField==true" style="color: rgb(71, 71, 71);margin-left:20px;" [(ngModel)]="locationField" placeholder="Location" (change)="showTable()" label="" class="selection" name="IC" placeholder="No.">
      <option value="All">All</option>
      <option *ngFor="let location of locationArray" value="{{location.location}}">{{location.location}}</option>
  </select>

        <mat-icon *ngIf="showVendor == true" style="color:black; position: relative; top: 5px; margin-left: 17px;">filter_list</mat-icon>
        <mat-label  *ngIf="showVendor == true"  style="color:black;">Status Filter: </mat-label>
        <select  *ngIf="showVendor == true" style="color: rgb(71, 71, 71);margin-left: 20px;" [(ngModel)]="selectField" placeholder="All" (change)="overdueFilter()" label="" class="selection" name="IC" placeholder="No.">
          <option value="All">All</option>
          <option value="Overdue">Overdue</option>
          <option value="Paid">Paid</option>
      </select>

      <mat-icon *ngIf="showSlotField==true " style="color:black; position: relative; top: 5px; margin-left: 17px;">filter_list</mat-icon>
        <mat-label  *ngIf="showSlotField==true "  style="color:black;">Status Filter: </mat-label>
        <select  *ngIf="showSlotField==true " style="color: rgb(71, 71, 71);margin-left: 20px;" [(ngModel)]="selectField" placeholder="All" (change)="overdueSlotFilter()" label="" class="selection" name="IC" placeholder="No.">
          <option value="All">All</option>
          <option value="Overdue">Overdue</option>
          <option value="Paid">Paid</option>
      </select>




      <mat-icon *ngIf="showRelative==true" style="color:black; position: relative; top: 5px; margin-left: 17px;">people</mat-icon>
      <mat-label *ngIf="showRelative==true" style="color:black;">Relationship Filter: </mat-label>
      <select *ngIf="showRelative==true" style="color: rgb(71, 71, 71);margin-left: 5px;" [(ngModel)]="spouseField" placeholder="All" (change)="spouseFilter()" label="" class="selection" name="IC" placeholder="No.">
        <option value="All">All</option>
        <option value="Spouse">Spouse</option>
        <option value="Child">Child</option>
    </select>


      <mat-icon *ngIf="showPayment==true" style="color:black; position: relative; top: 5px; margin-left: 17px;">notifications</mat-icon>
        <mat-label *ngIf="showPayment==true" style="color:black;">Notification Filter: </mat-label>
        <select *ngIf="showPayment==true" style="color: rgb(71, 71, 71);margin-left: 5px;" [(ngModel)]="notificationField" placeholder="All" (change)="notificationFilter()" label="" class="selection" name="IC" placeholder="No.">
          <option value="All">All</option>
          <option value="Sent">Sent</option>
          <option value="NotDelivered">Not Delivered</option>
      </select>
      <br>

      <mat-icon *ngIf="showPayment==true" style="color:black; position: relative; top: 5px; margin-left: 17px;margin-top:10px;">date_range</mat-icon>
      <mat-label class="start1" style="color:black; margin-left: 7px; margin-top:10px;" *ngIf="showPayment==true">Start Date: </mat-label>
      <input *ngIf="showPayment==true" style="color: rgb(71, 71, 71);margin-left: 5px; width:30%;height: 30px; margin-top:10px;" type="date" [(ngModel)]="dateFilter" placeholder="Enter Date" (change)="onChangeDate()">


      <mat-label *ngIf="showPayment==true" style="color:black; margin-left: 15px; margin-top:10px;">End Date: </mat-label>
      <input *ngIf="showPayment==true" style="color: rgb(71, 71, 71);margin-left: 5px; width:30%;height: 30px; margin-top:10px;" type="date" [(ngModel)]="endFilter" placeholder="Enter Date" (change)="onChangeDate()">
      <span *ngIf="showPayment==true"><mat-icon style="color: rgb(255, 0, 0); position:relative; top:8px;left: 10px;cursor:pointer;" (click)="refreshPayment()">close</mat-icon></span>


      </mat-card>



      <div class="notPrint">

      <button *ngIf="!viewOnly"  class="vendor-button" mat-raised-button (click)="addVendor()">Add Vendor</button>



      <div class ="mat-elevation-z8" style="margin-top: 10px;">
        
        <mat-table [dataSource]="listData" matSort *ngIf="showVendor==true">

          <ng-container  matColumnDef="ref_No">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Ref No.</mat-header-cell>
            <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.ref_No}}</mat-cell>
        </ng-container>
            <ng-container  matColumnDef="IC_Number">
                <mat-header-cell *matHeaderCellDef mat-sort-header >IC No.</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.IC_Number}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.name}}</mat-cell>
            </ng-container>
            <ng-container *ngIf="showSlotField==false" matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.phone}}</mat-cell>
            </ng-container>
            <ng-container *ngIf="showSlotField==false" matColumnDef="latest_Payment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Payment Date</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >
                  <span *ngIf="element.overdue==null">N/A</span>
                  <span *ngIf="element.overdue!==null">{{element.latest_Payment_Date}}</span>
                </mat-cell>
            </ng-container>
            <ng-container *ngIf="showSlotField==false" matColumnDef="slot">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Slot No.</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)">{{element.slot}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="overdue">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
              <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)">
                <span style="margin-right: 5px; color: red;" *ngIf="element.overdue==true">Overdue</span> <mat-icon style="color: red;" *ngIf="element.overdue==true">query_builder</mat-icon>
                <span style="margin-right: 5px; color: green;" *ngIf="element.overdue==false">Paid</span><mat-icon style="color: green;" *ngIf="element.overdue==false">done</mat-icon>
                <span style="margin-right: 5px; color: rgb(8, 0, 78);" *ngIf="element.overdue==null">N/A</span>
              </mat-cell>
          </ng-container>
    
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(112, 112, 112)" (click)="onEdit(row)"><mat-icon>create</mat-icon></button>
               
                 
                  <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(112, 112, 112)" (click)="onDelete(row)"><mat-icon>delete</mat-icon></button>
                  <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(110, 110, 110)" (click)="onEmail(row)"><mat-icon>contact_mail</mat-icon></button>
                </mat-cell>
    
                
              </ng-container>
    
              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  --End of List--
                </mat-footer-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
              <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(retrieveDataLength==0)}"></mat-footer-row>
            </mat-table>
            <mat-paginator *ngIf="showVendor==true" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>



            <!--Location Table--------------------------------------------------------------------------------------------->





            <mat-table [dataSource]="listData" matSort *ngIf="showSlotField == true">
          
              <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Vendor Name (Owner)</mat-header-cell>
                  <mat-cell class="matcell" *matCellDef="let element">
                  <span  style="color:rgb(65, 65, 65)">{{element.name}}</span></mat-cell>
              </ng-container>
  
              <ng-container  matColumnDef="location" >
                <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" >
                  <mat-icon *ngIf="element.taken==false" style="color:rgb(39, 39, 39); margin-right: 5px;">location_on</mat-icon>
                  <mat-icon *ngIf="element.taken==true" style="color:rgb(39, 39, 39); margin-right: 5px;">location_off</mat-icon>
                  <span style="color: rgb(39, 39, 39);">{{element.location}}</span></mat-cell>
            </ng-container>
  
              <ng-container matColumnDef="slot_Number">
                <mat-header-cell  *matHeaderCellDef mat-sort-header>Slot No.</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element"  >{{element.slot_Number}}</mat-cell>
            </ng-container>
  
              <ng-container matColumnDef="slot_Price">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Slot Price</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" >
               $ {{element.slot_Price}}
               
                </mat-cell>
            </ng-container>



  

  
            <ng-container matColumnDef="taken">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Availability</mat-header-cell>
              <mat-cell class="matcell" *matCellDef="let element">
                <span style="margin-right: 5px; color: rgb(255, 133, 133)  ; margin-top: -10x;" *ngIf="element.taken==true">Taken <mat-icon style="position: relative;top:5px;">event_busy</mat-icon></span>
                <span style="margin-right: 5px; color: rgb(105, 7, 197); margin-top: -10px;" *ngIf="element.taken==false">Available <mat-icon  style="position: relative;top:5px;">event_available</mat-icon></span>
              </mat-cell>
          </ng-container>
  
              <ng-container matColumnDef="overdue">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element">
                  <span style="margin-right: 5px; color: red;" *ngIf="element.overdue==true">Overdue</span> <mat-icon style="color: red;" *ngIf="element.overdue==true">query_builder</mat-icon>
                  <span style="margin-right: 5px; color: green;" *ngIf="element.overdue==false">Paid</span><mat-icon style="color: green;" *ngIf="element.overdue==false">done</mat-icon>
                  <span style="margin-right: 5px; color: rgb(8, 0, 78);" *ngIf="element.overdue!==true && element.overdue!==false">N/A</span>
                </mat-cell>
            </ng-container>

              <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button *ngIf="!viewOnly && row.name" mat-icon-button style="color:rgb(112, 112, 112)" (click)="viewing(row.rid)"><mat-icon>launch</mat-icon></button>
                  </mat-cell>
      
                  
                </ng-container>
      
                <ng-container matColumnDef="noData">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    --End of List--
                  </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedLocationColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedLocationColumns;" ></mat-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(retrieveDataLength==0)}"></mat-footer-row>
              </mat-table>




            <mat-paginator *ngIf="showSlotField == true" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>






              <!--Payment Table---------------------------------------------------------------------------------------------->


              <mat-table [dataSource]="listData" matSort *ngIf="showPayment == true" >

                <ng-container matColumnDef="Receipt ID">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Receipt ID</mat-header-cell>
                  <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.paymentID}}</mat-cell>
              </ng-container>
  
                
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.name}}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="slot_Number">
                  <mat-header-cell  *matHeaderCellDef mat-sort-header>Slot No.</mat-header-cell>
                  <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.slot_Number}}</mat-cell>
              </ng-container>
    
                <ng-container matColumnDef="Price">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Paid Amount</mat-header-cell>
                  <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >$ {{element.price}}
                </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="payment_Date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Payment Date</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >
                {{element.payment_Date}}
                
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="due_Date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</mat-header-cell>
              <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >
              {{element.due_Date}}
              
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="send_Email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Notification</mat-header-cell>
            <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)">
            <span style="color: blueviolet; position: relative;top: -5px;" *ngIf="element.send_Email==true">Sent <mat-icon  style="position: relative;top: 5px;">check</mat-icon> </span>
            <span style="color: rgb(255, 100, 100);position: relative;top: -5px;" *ngIf="element.send_Email==false">Not Delivered <mat-icon style="position: relative;top: 5px;">refresh</mat-icon> </span>
            
            </mat-cell>
        </ng-container>
  

 
  
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                     
            
                      <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(112, 112, 112); margin-left: 20px;" (click)="goToReceipt(row)"><mat-icon>move_to_inbox</mat-icon></button>
                      <button mat-raised-button *ngIf="!viewOnly" style="background-color:rgb(104, 104, 104);margin-left:10px" (click)="goToEditPayment(row)">Edit</button>
                   
                    </mat-cell>
        
                    
                  </ng-container>
        
                  <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                      --End of List--
                    </mat-footer-cell>
                  </ng-container>
  
                  <mat-header-row *matHeaderRowDef="displayedPaymentsColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedPaymentsColumns;" ></mat-row>
                  <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(retrieveDataLength==0)}"></mat-footer-row>
                </mat-table>
  
                <mat-paginator *ngIf="showPayment==true" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>


                <!--Relative----------------------------------------------------------------------------------------->


                <mat-table [dataSource]="listData" matSort *ngIf="showRelative == true" >
                
                  <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Relative Name</mat-header-cell>
                      <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.name}}</mat-cell>
                  </ng-container>
      
                  <ng-container matColumnDef="IC_Number">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header>Relative IC No.</mat-header-cell>
                    <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.IC_Number}}</mat-cell>
                </ng-container>
      
                  <ng-container matColumnDef="relationship">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Relationship</mat-header-cell>
                    <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)"><mat-icon style="color:rgb(145, 80, 206)">supervisor_account</mat-icon>
                      <span style="color:rgb(126, 60, 189); margin-left:3px;">{{element.relationship}}</span>
               
                  </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="vendorName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Related To (vendor):</mat-header-cell>
                  <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >
                    <mat-icon style="color:rgb(102, 102, 102)">account_circle</mat-icon>
                  <span style="color:rgb(88, 88, 88);margin-left:5px;">{{element.vendorName}}</span> 
                  
                  </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="Updated_At">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Last Update</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >
                  {{element.updatedAt}}
                
                </mat-cell>
            </ng-container>
   
    
                  <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef></mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(112, 112, 112)" (click)="viewing(row.rid)"><mat-icon>launch</mat-icon></button>
                     
                      </mat-cell>
          
                      
                    </ng-container>
          
                    <ng-container matColumnDef="noData">
                      <mat-footer-cell *matFooterCellDef colspan="6">
                        No data available.
                      </mat-footer-cell>
                    </ng-container>
    
                    <mat-header-row *matHeaderRowDef="displayedRelativeColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedRelativeColumns;" ></mat-row>
                    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(retrieveDataLength==0)}"></mat-footer-row>
                  </mat-table>
    
                  <mat-paginator *ngIf="showRelative==true" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  
  












          </div>

        </div>

          <br>
          <br>
        <div id="statPrint">

          <div class="statistic-2">
          <mat-card class="stat-2">
            <div class="flex-container">
              <div class="inline">
                <mat-icon class="maticon" style="color: rgb(180, 9, 9)">timelapse</mat-icon>
                <h3>Total Overdue</h3>
              </div>
              
              <p>{{overdueLength}}</p>
            </div>
          </mat-card>
          <mat-card class="stat-2">
            <div class="flex-container">
              <div class="inline">
              <mat-icon class="maticon" style="color: rgb(9, 180, 86)">verified_user</mat-icon>
              <h3>Total Paid</h3>
            </div>
              <p>{{paidLength}}</p>
            </div>
          </mat-card>
          <mat-card class="stat-2">
            <div class="flex-container">
              <div class="inline">
              <mat-icon class="maticon" style="color: rgb(0, 109, 143)">supervised_user_circle</mat-icon>
              <h3>Total Vendor</h3>
            </div>
              <p>{{retrieveDataLength}}</p>
            </div>
          </mat-card>
           <mat-card class="stat-2">
            <div  class="flex-container">
              <div class="inline">
              <mat-icon class="maticon" style="color: rgb(180, 9, 166)"> location_on</mat-icon>
              <h3>Total Slot</h3>
            </div>
              <p>{{slotLength}}</p>
            
            </div>
           </mat-card>
          </div>

          <br>
          <br>

        <div class="graphic-slot">
        <div class="graphic">

          
          <div id="chart" *ngIf="chartNumber !== undefined">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [plotOptions]="chartOptions.plotOptions"
              [labels]="chartOptions.labels"
              [color]="chartOptions.colors"
              [legend]="chartOptions.legend"
            ></apx-chart>
          </div>
          <div id="piechart" *ngIf="showPieChart">
            <apx-chart
              [series]="piechartOptions.series"
              [chart]="piechartOptions.chart"
              [plotOptions]="piechartOptions.plotOptions"
              [labels]="piechartOptions.labels"
              [color]="piechartOptions.colors"
              [theme] = "piechartOptions.theme"
              
            ></apx-chart>
          </div>


          <div id="linechart" *ngIf="paymentSeries.length !== 0">
            <apx-chart
              [series]="linechartOptions.series1"
              [chart]="linechartOptions.chart"
              [xaxis]="linechartOptions.xaxis"
              [dataLabels]="linechartOptions.dataLabels"
              [grid]="linechartOptions.grid"
              [stroke]="linechartOptions.stroke"
              [title]="linechartOptions.title"
              [color]="linechartOptions.colors"
              [theme] = "linechartOptions.theme"
            ></apx-chart>
          </div>

        </div>
      </div>

    </div>
        <br>

      <h1 class="titleTxt">Online Users</h1>
      <p class="descTxt">View people who are online</p>

      <div class ="mat-elevation-z8" style="margin-top: 10px; width: 70%;">
        
        <mat-table [dataSource]="loginData" matSort>
          
          <ng-container  matColumnDef="profilePic">
            <mat-header-cell style="color: black" *matHeaderCellDef mat-sort-header ></mat-header-cell>
            <mat-cell class="matcell" *matCellDef="let element"  >
              <img *ngIf="element.profilePic == undefined" class="image-1" src="assets/profile-1.png" alt="profilePIC">
              <img *ngIf="element.profilePic !== undefined"  class="image-1" [src]="element.profilePic" alt="profilePhoto-real"/>
            </mat-cell>
        </ng-container>
           
            <ng-container  matColumnDef="id">
                <mat-header-cell style="color: black" *matHeaderCellDef mat-sort-header >ID</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" >{{element.rid}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="username">
                <mat-header-cell style="color: black"  *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element">{{element.username}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="state">
                <mat-header-cell style="color: black"  *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element">
                  <p *ngIf="element.login_state==true" style="color:green; position:relative; top: 6px;">Online</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="last_Login">
                <mat-header-cell  style="color: black" *matHeaderCellDef mat-sort-header>Last Login</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element">
                  {{element.last_Login}}
                </mat-cell>
            </ng-container>

    
              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  No data available.
                </mat-footer-cell>
              </ng-container>
              <mat-header-row style="background-color: gray;" *matHeaderRowDef="displayedLoginColumns; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedLoginColumns;" ></mat-row>
              <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(retrieveDataLength==0)}"></mat-footer-row>
            </mat-table>
            <mat-paginator style="color: white; background-color: rgb(59, 59, 59);" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
          </div>
          <br>
          <br>
          <br>

          <!--Printing Area--------------------------------------------------------------------------------------------------------->
          <div id="print">
            
          <div class ="mat-elevation-z8" style="margin-top: 10px;">
        
            <table id="childTable" mat-table [dataSource]="listDataPrint" matSort *ngIf="showVendor==true">
                
              <ng-container  matColumnDef="ref_No">
                <th mat-header-cell *matHeaderCellDef mat-sort-header >Ref No.</th>
                <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.ref_No}}</td>
            </ng-container>

              <ng-container  matColumnDef="IC_Number">


                    <th mat-header-cell *matHeaderCellDef mat-sort-header >IC No.</th>
                    <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.IC_Number}}</td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.name}}</td>
                </ng-container>
  
                <ng-container *ngIf="showSlotField==false" matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
                    <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.phone}}</td>
                </ng-container>
                <ng-container *ngIf="showSlotField==false" matColumnDef="latest_Payment">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Date</th>
                    <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >
                      <span *ngIf="element.overdue==null">N/A</span>
                      <span *ngIf="element.overdue!==null">{{element.latest_Payment_Date}}</span>
                    </td>
                </ng-container>
                <ng-container *ngIf="showSlotField==false" matColumnDef="slot">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Slot No.</th>
                    <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)">{{element.slot}}</td>
                </ng-container>
    
                <ng-container matColumnDef="overdue">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                  <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)">
                    <span style="margin-right: 5px; color: red;" *ngIf="element.overdue==true">Overdue</span> <mat-icon style="color: red;" *ngIf="element.overdue==true">query_builder</mat-icon>
                    <span style="margin-right: 5px; color: green;" *ngIf="element.overdue==false">Paid</span><mat-icon style="color: green;" *ngIf="element.overdue==false">done</mat-icon>
                    <span style="margin-right: 5px; color: rgb(8, 0, 78);" *ngIf="element.overdue==null">N/A</span>
                  </td>
              </ng-container>
        
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                      <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(112, 112, 112)" (click)="onEdit(row)"><mat-icon>create</mat-icon></button>
                   
                     
                      <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(112, 112, 112)" (click)="onDelete(row)"><mat-icon>delete</mat-icon></button>
                      <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(110, 110, 110)" (click)="onEmail(row)"><mat-icon>contact_mail</mat-icon></button>
                    </td>
        
                    
                  </ng-container>
        
                  <ng-container matColumnDef="noData">
                    <tr class="footer-1" mat-footer-cell *matFooterCellDef colspan="6">
                      Vendor Records
                    </tr>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                  <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(retrieveDataLength==0)}"></tr>
                </table>
              
    
    
    
                <!--Location Table--------------------------------------------------------------------------------------------->
    
    
    
    
    
                <table mat-table id="childTable" [dataSource]="listDataPrint" matSort *ngIf="showSlotField == true">
              
                  <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor Name (Owner)</th>
                      <td mat-cell class="matcell" *matCellDef="let element">
                      <span  style="color:rgb(65, 65, 65)">{{element.name}}</span></td>
                  </ng-container>
      
                  <ng-container  matColumnDef="location" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                    <td mat-cell class="matcell" *matCellDef="let element" >
                      <mat-icon *ngIf="element.taken==false" style="color:rgb(39, 39, 39); margin-right: 5px;">location_on</mat-icon>
                      <mat-icon *ngIf="element.taken==true" style="color:rgb(39, 39, 39); margin-right: 5px;">location_off</mat-icon>
                      <span style="color: rgb(39, 39, 39);">{{element.location}}</span></td>
                </ng-container>
      
                  <ng-container matColumnDef="slot_Number">
                    <th mat-header-cell  *matHeaderCellDef mat-sort-header>Slot No.</th>
                    <td mat-cell class="matcell" *matCellDef="let element"  >{{element.slot_Number}}</td>
                </ng-container>
      
                  <ng-container matColumnDef="slot_Price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Slot Price</th>
                    <td mat-cell class="matcell" *matCellDef="let element" >
                   $ {{element.slot_Price}}
                   
                    </td>
                </ng-container>
    
    
    
      
    
      
                <ng-container matColumnDef="taken">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Availability</th>
                  <td mat-cell class="matcell" *matCellDef="let element">
                    <span style="margin-right: 5px; color: rgb(255, 133, 133)  ; margin-top: -10x;" *ngIf="element.taken==true">Taken <mat-icon style="position: relative;top:5px;">event_busy</mat-icon></span>
                    <span style="margin-right: 5px; color: rgb(105, 7, 197); margin-top: -10px;" *ngIf="element.taken==false">Available <mat-icon  style="position: relative;top:5px;">event_available</mat-icon></span>
                  </td>
              </ng-container>
      
                  <ng-container matColumnDef="overdue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell class="matcell" *matCellDef="let element">
                      <span style="margin-right: 5px; color: red;" *ngIf="element.overdue==true">Overdue</span> <mat-icon style="color: red;" *ngIf="element.overdue==true">query_builder</mat-icon>
                      <span style="margin-right: 5px; color: green;" *ngIf="element.overdue==false">Paid</span><mat-icon style="color: green;" *ngIf="element.overdue==false">done</mat-icon>
                      <span style="margin-right: 5px; color: rgb(8, 0, 78);" *ngIf="element.overdue!==true && element.overdue!==false">N/A</span>
                    </td>
                </ng-container>
    
                  <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let row">
                        <button *ngIf="!viewOnly && row.name" mat-icon-button style="color:rgb(112, 112, 112)" (click)="viewing(row.rid)"><mat-icon>launch</mat-icon></button>
                      </td>
          
                      
                    </ng-container>
          
                    <ng-container matColumnDef="noData">
                      <tr class="footer-1" mat-footer-cell *matFooterCellDef colspan="6">
                        Location Records
                      </tr>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedLocationColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedLocationColumns;" ></tr>
                    <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(retrieveDataLength==0)}"></tr>
                  </table>
  
    
    
    
    
    
    
                  <!--Payment Table---------------------------------------------------------------------------------------------->
    
    
                  <table mat-table  id="childTable" [dataSource]="listDataPrint" matSort *ngIf="showPayment == true" >
    
                    <ng-container matColumnDef="Receipt ID">
                      <th *matHeaderCellDef mat-sort-header>Receipt ID</th>
                      <td class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.paymentID}}</td>
                  </ng-container>
      
                    
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.name}}</td>
                    </ng-container>
        
                    <ng-container matColumnDef="slot_Number">
                      <th mat-header-cell  *matHeaderCellDef mat-sort-header>Slot No.</th>
                      <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.slot_Number}}</td>
                  </ng-container>
        
                    <ng-container matColumnDef="Price">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Paid Amount</th>
                      <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >$ {{element.price}}
                      </td>
                  </ng-container>
      
                  <ng-container matColumnDef="payment_Date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Date</th>
                    <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >
                    {{element.payment_Date}}
                    
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="due_Date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
                  <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >
                  {{element.due_Date}}
                  
                  </td>
              </ng-container>
    
              <ng-container matColumnDef="send_Email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Notification</th>
                <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)">
                <span style="color: blueviolet; position: relative;top: -5px;" *ngIf="element.send_Email==true">Sent <mat-icon  style="position: relative;top: 5px;">check</mat-icon> </span>
                <span style="color: rgb(255, 100, 100);position: relative;top: -5px;" *ngIf="element.send_Email==false">Not Delivered <mat-icon style="position: relative;top: 5px;">refresh</mat-icon> </span>
                
                </td>
            </ng-container>


     
      
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                          <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(112, 112, 112); margin-left: 20px;" (click)="goToReceipt(row)"><mat-icon>move_to_inbox</mat-icon></button>
                       
                        </td>
            
                        
                      </ng-container>
            
                      <ng-container matColumnDef="noData">
                        <tr class="footer-1" mat-footer-cell *matFooterCellDef colspan="6">
                          Payment History
                        </tr>
                      </ng-container>
      
                      <tr mat-header-row *matHeaderRowDef="displayedPaymentsColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedPaymentsColumns;" ></tr>
                      <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(retrieveDataLength==0)}"></tr>
                    </table> 
    
    
                    <!--Relative----------------------------------------------------------------------------------------->
    
    
                    <table mat-table  id="childTable" [dataSource]="listDataPrint" matSort *ngIf="showRelative == true" >
                    
                      <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Relative Name</th>
                          <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.name}}</td>
                      </ng-container>
          
                      <ng-container matColumnDef="IC_Number">
                        <th mat-header-cell  *matHeaderCellDef mat-sort-header>Relative IC No.</th>
                        <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.IC_Number}}</td>
                    </ng-container>
          
                      <ng-container matColumnDef="relationship">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Relationship</th>
                        <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)"><mat-icon style="color:rgb(145, 80, 206)">supervisor_account</mat-icon>
                          <span style="color:rgb(126, 60, 189); margin-left:3px;">{{element.relationship}}</span>
                   
                        </td>
                    </ng-container>
        
                    <ng-container matColumnDef="vendorName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Related To (vendor):</th>
                      <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >
                        <mat-icon style="color:rgb(102, 102, 102)">account_circle</mat-icon>
                      <span style="color:rgb(88, 88, 88);margin-left:5px;">{{element.vendorName}}</span> 
                      
                      </td>
                  </ng-container>
      
                  <ng-container matColumnDef="Updated_At">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Update</th>
                    <td mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >
                      {{element.updatedAt}}
                    
                    </td>
                </ng-container>
       
        
                      <ng-container matColumnDef="actions">
                          <th mat-header-cell *matHeaderCellDef></th>
                          <td mat-cell *matCellDef="let row">
                            <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(112, 112, 112)" (click)="viewing(row.rid)"><mat-icon>launch</mat-icon></button>
                         
                          </td>
              
                          
                        </ng-container>
              
                        <ng-container matColumnDef="noData">
                          <tr class="footer-1" mat-footer-cell *matFooterCellDef colspan="6">
                            Relative Records
                          </tr>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedRelativeColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedRelativeColumns;" ></tr>
                        <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(retrieveDataLength==0)}"></tr>
                      </table>
    
    
    
    
    
    
    
    
    
    
    
    
              </div>
            </div>
              <br>
              <br>

            <div id="statprint-2">
              <mat-label style="color:black;margin-left:30px;">Start Date: </mat-label>
              <span style="padding: 0px 90px 5px 30px; border-bottom: 1px solid gray">{{dateFilter}}</span>
              <mat-label style="color:black;margin-left:40px;">End Date: </mat-label>
              <span style="padding: 0px 90px 5px 30px; border-bottom: 1px solid gray">{{endFilter}}</span>

              <div id="linechart-1" *ngIf="paymentArray1.length !== 0">
                <apx-chart
                  [series]="linechartOptions1.series1"
                  [chart]="linechartOptions1.chart"
                  [xaxis]="linechartOptions1.xaxis"
                  [dataLabels]="linechartOptions1.dataLabels"
                  [grid]="linechartOptions1.grid"
                  [stroke]="linechartOptions1.stroke"
                  [title]="linechartOptions1.title"
                  [color]="linechartOptions1.colors"
                  [theme] = "linechartOptions1.theme"
                ></apx-chart>
              </div>
            </div>

           


          <p id="hide">{{before}} &copy; {{after}}</p>
          <br>

     
            
         

          <!-- routerLink="/vendor-profile/row.id" -->













          











    </mat-sidenav-content>
  
  </mat-sidenav-container>
