
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <div class="nav-icon" tappable (click)="goToDashboard()">
        <mat-icon class="active">dashboard</mat-icon>
        <mat-label class="active">Dashboard</mat-label>
        </div>

        <div *ngIf="!viewOnly" class="nav-icon" routerLink="/add-vendor">
            <mat-icon>add_box</mat-icon>
            <mat-label>AddVendor</mat-label>
        </div>

        <div *ngIf="!viewOnly" class="nav-icon" routerLink="/add-payment">
            <mat-icon>attach_money</mat-icon>
            <mat-label>Payment</mat-label>
        </div>

        <div *ngIf="isAdmin" class="nav-icon" routerLink="/usermanagement">
          
          <mat-icon style="font-size: 30px">ballot</mat-icon>
          <mat-label  style="text-align: center;">Admin IE</mat-label>
      </div>

      <div *ngIf="!viewOnly" class="nav-icon" routerLink="/deleted-records">
        <mat-icon >file_copy</mat-icon>
        <mat-label style="text-align: center;">Deleted Records</mat-label>
    </div>


    </mat-sidenav>
    <mat-sidenav-content style="background-color:white">
        

      <mat-toolbar class="mat-toolbar"> <!--Toolbar C-->

        <mat-button *ngIf="close==false" class="toggle" (click)="sidenav.close()" (click)="closeNav()"><mat-icon class="toggle">close</mat-icon></mat-button>
        <mat-button *ngIf="close==true" class="toggle" (click)="sidenav.open()" (click)="openNav()"><mat-icon class="toggle">menu</mat-icon></mat-button>
       

        <div class="search-bar-dashboard">
          <input class="searchbar-1" [(ngModel)]="searchKey" type="Text" placeholder="Search for IC Number, Name, etc.. "/>
          <mat-icon  (click)="applyFilter()" class="submitBtn-1">search</mat-icon>
          <span (click)="refreshData()" class="resetInfo-1">Reset</span>
        </div>

        <div class="name-inline" (click)="retrieveID(username)" >
          <p class="username">{{username}}</p>
          <p class="role">{{role}}</p>

        </div>
        
        <img *ngIf="photoArray.length==0" class="profile-photo" (click)="retrieveID(username)" src="assets/profile.jpg" alt="profilePIC">
        <img *ngIf="photoArray.length!==0" class="profile-photo" [src]="profilePhoto" (click)="retrieveID(username)" alt="profilePhoto-real"/>

        <mat-icon matBadge="{{notifyNo}}" matBadgeColor="warn" class="notification" (click)="openNotification()">notifications</mat-icon>
        <!-- <p class="no-number" style="color:white;" >{{notifyNo}}</p> -->

      </mat-toolbar>

      <p class="titleTxt">Dashboard</p>
      <p class="descTxt">Information management & Intelligence</p>
 
    <!-- Filter // ---------------------->

    
      <mat-card class="search-card">
        <mat-icon style="color:black; position: relative; top: 5px; margin-left: 20px;">filter_frames</mat-icon>
      <mat-label style="color:black; margin-left: 5px;">Search For: </mat-label>
      <select style="color: rgb(71, 71, 71)" [(ngModel)]="searchForField" placeholder="All" (change)="onChange($event.target.value)" label="" class="selection" name="IC" placeholder="No.">
        <option value="Vendor">Vendor</option>
        <option value="Location">Location</option>
        <option value="Payment">Payment History</option>
        <option value="Spouse">Spouse</option>
        <option value="Child">Child</option>
        
    </select>

    <mat-icon *ngIf="showSlotField==true" style="color:black; position: relative; top: 5px; margin-left: 20px;">info</mat-icon>
    <mat-label *ngIf="showSlotField==true" style="color:black;">Slot Availability: </mat-label>
    <select *ngIf="showSlotField==true" style="color: rgb(71, 71, 71)" [(ngModel)]="selectSlotField" placeholder="All" (change)="onChange($event.target.value)" label="" class="selection" name="IC" placeholder="No.">
      <option value="All">All</option>
      <option value="Taken">Taken</option>
      <option value="Available">Available</option>
  </select>
  <br *ngIf="showSlotField==true">
        <mat-icon style="color:black; position: relative; top: 5px; margin-left: 16px;">filter_list</mat-icon>
        <mat-label style="color:black;">Status Filter: </mat-label>
        <select style="color: rgb(71, 71, 71)" [(ngModel)]="selectField" placeholder="All" (change)="onChange($event.target.value)" label="" class="selection" name="IC" placeholder="No.">
          <option value="All">All</option>
          <option value="Overdue">Overdue</option>
          <option value="Paid">Paid</option>
      </select>

      


     

      </mat-card>


      <button *ngIf="!viewOnly"  class="vendor-button" mat-raised-button (click)="addVendor()">Add Vendor</button>


      <div class ="mat-elevation-z8" style="margin-top: 10px;">
        
        <mat-table [dataSource]="listData" matSort *ngIf="showSlotField!==true">
            <ng-container  matColumnDef="IC_Number">
                <mat-header-cell *matHeaderCellDef mat-sort-header >IC No.</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.IC_Number}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.name}}</mat-cell>
            </ng-container>
            <ng-container *ngIf="showSlotField==false" matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Email</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.email}}</mat-cell>
            </ng-container>
            <ng-container *ngIf="showSlotField==false" matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.phone}}</mat-cell>
            </ng-container>
            <ng-container *ngIf="showSlotField==false" matColumnDef="latest_Payment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Payment Date</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >
                  <span *ngIf="element.overdue==null">N/A</span>
                  <span *ngIf="element.overdue!==null">{{element.latest_Payment_Date}}</span>
                </mat-cell>
            </ng-container>
            <ng-container *ngIf="showSlotField==false" matColumnDef="slot">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Slot No.</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)">{{element.slot}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="overdue">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
              <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)">
                <span style="margin-right: 5px; color: red;" *ngIf="element.overdue==true">Overdue</span> <mat-icon style="color: red;" *ngIf="element.overdue==true">query_builder</mat-icon>
                <span style="margin-right: 5px; color: green;" *ngIf="element.overdue==false">Paid</span><mat-icon style="color: green;" *ngIf="element.overdue==false">done</mat-icon>
                <span style="margin-right: 5px; color: rgb(8, 0, 78);" *ngIf="element.overdue==null">N/A</span>
              </mat-cell>
          </ng-container>
    
    
    
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(112, 112, 112)" (click)="onEdit(row)"><mat-icon>create</mat-icon></button>
               
                 
                  <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(112, 112, 112)" (click)="onDelete(row)"><mat-icon>delete</mat-icon></button>
                  <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(110, 110, 110)" (click)="onEmail(row)"><mat-icon>contact_mail</mat-icon></button>
                </mat-cell>
    
                
              </ng-container>
    
              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  No data available.
                </mat-footer-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
              <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(retrieveDataLength==0)}"></mat-footer-row>
            </mat-table>


            <mat-table [dataSource]="listData" matSort *ngIf="showSlotField == true">
              <ng-container  matColumnDef="IC_Number">
                  <mat-header-cell *matHeaderCellDef mat-sort-header >IC No.</mat-header-cell>
                  <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.IC_Number}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                  <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.name}}</mat-cell>
              </ng-container>
  
              <ng-container  matColumnDef="location">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.location}}</mat-cell>
            </ng-container>
  
              <ng-container matColumnDef="slot_Number">
                <mat-header-cell  *matHeaderCellDef mat-sort-header>Slot No.</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >{{element.slot_Number}}</mat-cell>
            </ng-container>
  
              <ng-container matColumnDef="slot_Price">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Slot Price</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >$ {{element.slot_Price}}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="taken">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Availability</mat-header-cell>
              <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)" >
                <span style="margin-right: 5px; color: red;" *ngIf="element.taken==true">Taken</span>
                <span style="margin-right: 5px; color: green;" *ngIf="element.taken==false">Available</span>
              </mat-cell>
          </ng-container>
  
              <ng-container matColumnDef="overdue">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" (click)="viewing(element.rid)">
                  <span style="margin-right: 5px; color: red;" *ngIf="element.overdue==true">Overdue</span> <mat-icon style="color: red;" *ngIf="element.overdue==true">query_builder</mat-icon>
                  <span style="margin-right: 5px; color: green;" *ngIf="element.overdue==false">Paid</span><mat-icon style="color: green;" *ngIf="element.overdue==false">done</mat-icon>
                  <span style="margin-right: 5px; color: rgb(8, 0, 78);" *ngIf="element.overdue!==true && element.overdue!==false">N/A</span>
                </mat-cell>
            </ng-container>

              <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(112, 112, 112)" (click)="onEdit(row)"><mat-icon>create</mat-icon></button>
                 
                   
                    <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(112, 112, 112)" (click)="onDelete(row)"><mat-icon>delete</mat-icon></button>
                    <button *ngIf="!viewOnly" mat-icon-button style="color:rgb(110, 110, 110)" (click)="onEmail(row)"><mat-icon>contact_mail</mat-icon></button>
                  </mat-cell>
      
                  
                </ng-container>
      
                <ng-container matColumnDef="noData">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    No data available.
                  </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedLocationColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedLocationColumns;" ></mat-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(retrieveDataLength==0)}"></mat-footer-row>
              </mat-table>




            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
          </div>

          <div class="statistic-2">
          <mat-card class="stat-2">
            <div class="flex-container">
              <div class="inline">
                <mat-icon style="color: rgb(180, 9, 9)">timelapse</mat-icon>
                <h3>Total Overdue</h3>
              </div>
              
              <p>{{overdueLength}}</p>
            </div>
          </mat-card>
          <mat-card class="stat-2">
            <div class="flex-container">
              <div class="inline">
              <mat-icon style="color: rgb(9, 180, 86)">verified_user</mat-icon>
              <h3>Total Paid</h3>
            </div>
              <p>{{paidLength}}</p>
            </div>
          </mat-card>
          <mat-card class="stat-2">
            <div class="flex-container">
              <div class="inline">
              <mat-icon style="color: rgb(0, 109, 143)">supervised_user_circle</mat-icon>
              <h3>Total Vendor</h3>
            </div>
              <p>{{retrieveDataLength}}</p>
            </div>
          </mat-card>
           <mat-card class="stat-2">
            <div  class="flex-container">
              <div class="inline">
              <mat-icon style="color: rgb(180, 9, 166)"> location_on</mat-icon>
              <h3>Total Slot</h3>
            </div>
              <p>{{slotLength}}</p>
            
            </div>
           </mat-card>
          </div>

        <div class="graphic-slot">
        <div class="graphic">

          
          <div id="chart" *ngIf="chartNumber !== undefined">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [plotOptions]="chartOptions.plotOptions"
              [labels]="chartOptions.labels"
              [color]="chartOptions.colors"
            ></apx-chart>
          </div>
          <div id="piechart" *ngIf="showPieChart">
            <apx-chart
              [series]="piechartOptions.series"
              [chart]="piechartOptions.chart"
              [plotOptions]="piechartOptions.plotOptions"
              [labels]="piechartOptions.labels"
              [color]="piechartOptions.colors"
              [theme] = "piechartOptions.theme"
            ></apx-chart>
          </div>


          <div id="linechart" *ngIf="paymentArray.length !== 0">
            <apx-chart
              [series]="linechartOptions.series1"
              [chart]="linechartOptions.chart"
              [xaxis]="linechartOptions.xaxis"
              [dataLabels]="linechartOptions.dataLabels"
              [grid]="linechartOptions.grid"
              [stroke]="linechartOptions.stroke"
              [title]="linechartOptions.title"
              [color]="linechartOptions.colors"
              [theme] = "linechartOptions.theme"
            ></apx-chart>
          </div>

        </div>
      </div>
        <br>

      <h1 class="titleTxt">Online Users</h1>
      <p class="descTxt">View people who are online</p>

      <div class ="mat-elevation-z8" style="margin-top: 10px; width: 50%;">
        
        <mat-table [dataSource]="loginData" matSort>
          
          <ng-container  matColumnDef="profilePic">
            <mat-header-cell style="color: black" *matHeaderCellDef mat-sort-header ></mat-header-cell>
            <mat-cell class="matcell" *matCellDef="let element"  >
              <img *ngIf="element.profilePic == undefined" class="image-1" src="assets/profile-1.png" alt="profilePIC">
              <img *ngIf="element.profilePic !== undefined"  class="image-1" [src]="element.profilePic" alt="profilePhoto-real"/>
            </mat-cell>
        </ng-container>
           
            <ng-container  matColumnDef="id">
                <mat-header-cell style="color: black" *matHeaderCellDef mat-sort-header >ID</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element" >{{element.rid}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="username">
                <mat-header-cell style="color: black"  *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element">{{element.username}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="state">
                <mat-header-cell style="color: black"  *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element">
                  <p *ngIf="element.login_state==true" style="color:green; position:relative; top: 6px;">Online</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="last_Login">
                <mat-header-cell  style="color: black" *matHeaderCellDef mat-sort-header>Last Login</mat-header-cell>
                <mat-cell class="matcell" *matCellDef="let element">
                  {{element.last_Login}}
                </mat-cell>
            </ng-container>

    
              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  No data available.
                </mat-footer-cell>
              </ng-container>
              <mat-header-row style="background-color: gray;" *matHeaderRowDef="displayedLoginColumns; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedLoginColumns;" ></mat-row>
              <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(retrieveDataLength==0)}"></mat-footer-row>
            </mat-table>
            <mat-paginator style="color: white; background-color: rgb(59, 59, 59);" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
          </div>
          <br>

     
            
         

          <!-- routerLink="/vendor-profile/row.id" -->













          











    </mat-sidenav-content>
  
  </mat-sidenav-container>
