mat-sidenav {
    background-color: rgb(124, 57, 179);
    width: 100px;
}

.search-card{
    background-color: white;
    margin-top: 20px;
    width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    // align-self: center;
    
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: purple !important;
  }

  form{
      margin: 0 auto;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   flex-direction: column;
      mat-label{
          color: black;
      }

      input{
          background: rgba(128, 128, 128, 0.158);
          box-shadow: none;
          height: 38px;
          width: 100%;
          border: none;
          border-radius: 5px;
          padding-left: 5px;
          margin-bottom: 20px;
      }

      
  }

  .mat-label{
    text-align: left;
  }
  
.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
        border: 0;
}

.submitBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 40px;
    background-color: rgb(105, 2, 173) ;
}
.titleTxt{
    margin-left: 40px;
}
  