/* You can add global styles to this file, and also import other style files */
@import '~ngx-mat-slide-panel/src/lib/mat-slide-panel-theme.scss';
 


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.active{
    color:  white !important;
 }

 mat-sidenav-container{
    height: 100%
}

.mat-toolbar{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(226, 226, 226);
    position: sticky;
    top: 0px;
    z-index: 999;
}

mat-sidenav{
    padding:16px;
}

mat-sidenav {
    background-color: rgb(124, 57, 179);
    width: 110px;
}


.nav-icon{

    cursor: pointer;
      margin-bottom: 38px;
    mat-label{
        font-size: 12px;
        color: rgba(238, 238, 238, 0.616);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    mat-icon{
        color: rgba(243, 243, 243, 0.616);
        margin-left: 32%;
    }
  }

  .nav-icon:hover{
      color: rgb(95, 30, 148);
  }


  .notification{
      position: absolute;
      right: 25px;
      cursor: pointer;
      color: rgb(124, 57, 179);
  }

  .profile-photo{
      border-radius: 50%;
      width: 42px;
      height: 40px;
      position: absolute;
      right: 70px;
      cursor: pointer;
      border: 1px solid white;
  }
.name-inline{
    color: black;
    display: inline;

    .username{
        font-size: 14px;
        position: absolute;
        right: 120px;
        top: 10px;
        cursor: pointer;
        font-weight: bold;
        color:rgb(124, 57, 179);
        font-family: Tahoma, sans-serif;
  
    }

    .role{

        font-size: 10px;
        position: absolute;
        right: 120px;
        top: 28px;
        cursor: pointer;

    }

}


  .custom-modalbox {
    mat-dialog-container {
        background-color: white;
    }
}


mat-slide-panel-container{
    background-color: white;
    width: 350px;
    padding: 0;
}

.no-number{
    font-size: 15px;
    color:white;
    background-color: red;
    text-align:center;
    position:absolute;
    right: 12px;
    top:3px;
    border-radius: 50%;
    transform: scale(0.65);
    width:30px;
    
}

input{
    color: black !important;
}

div.mat-tab-label-content{
    color: black;
    font-size: 16px;
}

div.mat-tab-label{
    border-left: 1px solid rgb(146, 146, 146);
    background-color: white;
    
    margin-top: 30px;
    

}
#mat-tab-label-0-0{
    margin-left: 18%;
   
}
.mat-group{
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.mat-tab-body{
    margin-top: -15px;
    padding: 0px;
}





